<div class="h-16 flex items-center w-full" style="background-color: rgba(247,248,253,1);">
    <div class="flex w-1/2 ml-10">
        <div class="flex">
            <img height="28" width="28" src="../../assets/image/git.png" />
            <span class="font-semibold text-lg leading-7" style="color: rgba(32,32,51,1);">Github Search</span>
        </div>

    </div>
    <div class="input-group relative flex w-1/2 mr-6 ml-12">
        <input type="search" class="input-primary" placeholder="Search Github Username" aria-label="Search"
            aria-describedby="button-addon2">
        <button class="btn-primary" type="button" id="button-addon2">
            Search
        </button>
    </div>

</div>